.dialogs {
display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems  {
padding: 10px;
    color: wheat;
}
.dialogsItems .active {
    color: gold;
}

.messeges {
    padding: 10px;
}

.messeges.messeg{
color:wheat;
}